body {
    background-color: rgb(170, 101, 52);
}

.header {
    padding: 20px 10px;
    background-color: seagreen;
    color: wheat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: large;

}
* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
margin-top: 15px;
margin-bottom: 15px;
}

h3 {
    position: absolute;
    bottom: 0;
    right: 20px;
}

div {
    display: block;
}

nav {
    list-style: none;
    display: flex;
    padding: 10px 15px;
    margin-top: auto;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: wheat;
}

article {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: wheat;
    justify-content: right;
    margin-right: 0px;
    margin-top: 0px;
    padding: 75px;
    font-weight: 900;
    background: url("55DF05E1-EDF7-4D56-9123-2C8B314951DFIMG_3651.jpg") no-repeat;
    background-size: cover;
    position: relative;
}